<section>
  <div class="page-header">
    <h1>List of Events</h1>
  </div>
  <style>
    .table{
      border-style:solid;
    }
  </style>
  <div class="list-group ">
    <a ng-repeat="calendarlist in vm.calendarlists" ui-sref="calendarlists.view({ calendarlistId: calendarlist._id })" class="list-group-item">
      <!--small class="list-group-item-text">
        Posted on
        <span ng-bind="calendarlist.created | date:'mediumDate'"></span>
        by
        <span ng-if="calendarlist.user" ng-bind="calendarlist.user.displayName"></span>
        <span ng-if="!calendarlist.user">Deleted User</span>
      </small-->
      <h4 class="row">
        <span class="list-group-item-heading col-md-4" ng-bind="calendarlist.name "></span>
        <span class="list-group-item-heading col-md-4" ng-bind="calendarlist.start "></span>
        <span class="list-group-item-heading col-md-4" ng-bind="calendarlist.end "></span>
      </h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.calendarlists.$resolved && !vm.calendarlists.length">
    No Calendarlists yet, why don't you <a ui-sref="calendarlists.create">create one</a>?
  </div>
</section>
