<section>
  <div class="page-header">
    <h1>{{vm.staffview._id ? 'Edit Staffview' : 'Availability'}}</h1>
  </div>

  <div class="col-md-6">
  <form name="vm.form.staffviewForm" class="form-horizontal" ng-submit="vm.save(vm.form.staffviewForm.$valid)" novalidate>
    <fieldset>
      <div class="form-group" show-errors>
          <label class="control-label" for="monday">Monday (Example: 7:00am-12:00pm)</label>
          <input name="monday" type="text" ng-model="vm.staffview.monday.value1" id="monday" class="form-control" placeholder="Monday Availability" required>
          <div class="mondayCheckboxes">
              <label><input type="checkbox" ng-value="true" ng-model="vm.staffview.monday.value1"> 7:00 am</label>
          </div>
      </div>

      <div class="form-group" show-errors>
          <label class="control-label" for="tuesday">Tuesday (Example: 7:00am-12:00pm)</label>
          <input name="tuesday" type="text" ng-model="vm.staffview.tuesday" id="tuesday" class="form-control" placeholder="Tuesday Availability" required>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-default">{{vm.staffview._id ? 'Update' : 'Update Availability'}}</button>
      </div>
      <div ng-show="vm.error" class="text-danger">
        <strong ng-bind="vm.error"></strong>
      </divs
    </fieldset>
  </form>
  </div>
</section>
