<section>
  <h1>Availability</h1>
<div class="">
  <select name="days">
    <option value="Days">Days</option>
    <option value="Monday">Monday</option>
    <option value="Tuesday">Tuesday</option>
    <option value="Wednesday">Wednesday</option>
    <option value="Thursday">Thursday</option>
  </select>

  <div class="">
    <form>
        <input type = "checkbox" name = "hours" value = "on"> 8:00am
        <input type = "checkbox" name = "hours" value = "on"> 8:30am
     </form>
  </div>

   <div class="">
     <button type="submit" class="btn btn-default">Submit</button>
   </div>

</div>
</section>
