<section>
<style>
h1{text-align:center;}
h2{text-align:center;}
.pendingReq{   
  max-width: 300px;
  border: 2px solid black;
  margin:0 auto;
  margin-bottom: -2px;}
.listOfReq{
  border: 2px solid black;}
</style>
  <div class="reqHead">
    <h1>Requests</h1>
  </div>
  <div class="pendingReq">
  <h2>{{vm.requests.length}} Pending Requests</h2>
  </div>
  <div class="listOfReq" >
  <table class="table table-striped table-hover" style="
  background-color:#b059cc;">
      <tr style="background-color:orange;border-bottom: 2px solid black;">
        <th>Request</th>
        <th>Name</th>
        <th>Shift Time</th>
        <th>Date Requested</th>
        <th>Class Type</th>
        <th>Reason</th>
      </tr>
      <tr ng-repeat="request in vm.requests"  ui-sref="requests.view({ requestId: request._id })" style="cursor: pointer;">
      <a >
      <td>
      {{request.name}}
      </td>
      <td>  
          <span ng-if="request.user" ng-bind="request.user.displayName"></span>
          <span ng-if="!request.user">Deleted User</span>
      </td>
      <td>
          {{request.shiftTime}}
      </td>
      <td>
          <span ng-bind="request.created | date:'mediumDate'"></span>
      </td>
      <td>
      {{request.class}}
      </td>
      <td>
      {{request.reason}}
      </td>
      </a>
    </tr>
  </table>
  </div>

</section>
