<section>
<div style="width: 100%; overflow: hidden;">
  <div style="width: 600px; float: left;">
    <h1>Teaching Blog</h1>
  </div>
  <!-- Search Bar-->
  <div class="row">
    <div class="col-lg-6">
    <div style="text-align: right; margin-top: 20px; margin-bottom: 5px;">
      <input style="margin-bottom: 5px;" type="text" ng-model="Blog_Input.name" placeholder="Search by name..." class="form-control">
    </div>
    </div>
    <div class="col-lg-6">
    <div style="text-align: right; margin-top: 20px; margin-bottom: 5px;">
      <input type="text" ng-model="Blog_Input.tags" placeholder="Search by tags..." class="form-control">
    </div>
    </div>
  </div>
</div>

<!-- List the blog entries -->
<div class="scroll">
<div class="list-group">
  <a ng-repeat="blog in vm.blogs | filter:Blog_Input" ui-sref="blogs.view({ blogId: blog._id })" class="list-group-item">
    <small class="list-group-item-text">
      Posted on
      <span ng-bind="blog.created | date:'mediumDate'"></span>
      by
      <span ng-if="blog.user" ng-bind="blog.user.displayName"></span>
      <span ng-if="!blog.user">Deleted User</span>
    </small>
    <h4 class="list-group-item-heading" ng-bind="blog.name"></h4>
    <small class="list-group-item-text">
      Tags:
      <span ng-bind="blog.tags"></span>
    </small>
  </a>
</div>
</div>

<!-- In case there are no blog entries-->
<h5 style="text-align: right">
  <a ui-sref="blogs.create">New Entry</a>
</h5>
<div style="margin-left: 1000px;" ng-if="!vm.blogs.$resolved || vm.blogs.length">
  <!--h4><a ui-sref="blogs.create">Create new entry</a></h4-->
</div>

</section>
