<section>
  <div class="page-header">
    <h1>User <span ng-bind="user.username"></span></h1>
  </div>
  <div class="col-md-12">
    <form name="userForm" ng-submit="update(userForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label for="firstName">First Name</label>
          <input type="text" id="firstName" name="firstName" class="form-control" ng-model="user.firstName" placeholder="First Name" required />
          <div ng-messages="userForm.firstName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">First name is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="lastName">Last Name</label>
          <input type="text" id="lastName" name="lastName" class="form-control" ng-model="user.lastName" placeholder="Last Name" required />
          <div ng-messages="userForm.lastName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Last name is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="roles">Roles</label>
          <div class="controls">
            <input class="form-control" type="text" name="roles" ng-model="user.roles" id="roles" ng-list required />
            <div ng-messages="userForm.roles.$error" role="alert">
              <p class="help-block error-text" ng-message="required">User or Admin?</p>
            </div>
          </div>

        </div>
         <div class="form-group" show-errors>
          <label class="control-label" for="position">Position</label>
          <div class="controls">
            <input class="form-control" type="text" name="position" ng-model="user.position" id="position" ng-list required />
            <div ng-messages="userForm.position.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Position at gym required.</p>
            </div>
          </div>
        </div>

        <div class="form-group" show-errors>
          <label class="control-label" for="birthday">Birthday</label>
          <div class="controls">
            <input class="form-control" type="text" name="birthday" ng-model="user.birthday" id="birthday" ng-list required />
            <div ng-messages="userForm.birthday.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Birthday required.</p>
            </div>
          </div>
        </div>

        <div class="form-group" show-errors>
          <label class="control-label" for="officialTitle">Official Title</label>
          <div class="controls">
            <input class="form-control" type="text" name="officialTitle" ng-model="user.officialTitle" id="officialTitle" ng-list required />
            <div ng-messages="userForm.officialTitle.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Official Title required.</p>
            </div>
          </div>
        </div>
        

        <div class="form-group" show-errors>
          <label class="control-label" for="miscNotes">Miscellaneous Notes</label>
          <div class="controls">
            <input class="form-control" type="text" name="miscNotes" ng-model="user.miscNotes" id="miscNotes"/>
          </div>
        </div>
        

        <div class="form-group" show-errors>
          <label class="control-label" for="favoriteColor">Favorite Color</label>
          <div class="controls">
            <input class="form-control" type="text" name="favoriteColor" ng-model="user.favoriteColor" id="favoriteColor"/>
          </div>
        </div>
        

        <div class="form-group" show-errors>
          <label class="control-label" for="favoriteAnimal">Favorite Animal</label>
          <div class="controls">
            <input class="form-control" type="text" name="favoriteAnimal" ng-model="user.favoriteAnimal" id="favoriteAnimal"/>
          </div>
        </div>
        

        <div class="form-group" show-errors>
          <label class="control-label" for="favoriteCake">Favorite Cake Flavor</label>
          <div class="controls">
            <input class="form-control" type="text" name="favoriteCake" ng-model="user.favoriteCake" id="favoriteCake"/>
          </div>
        </div>
        

        <div class="form-group" show-errors>
          <label class="control-label" for="favoriteKidsBook">Favorite Kids Book</label>
          <div class="controls">
            <input class="form-control" type="text" name="favoriteKidsBook" ng-model="user.favoriteKidsBook" id="favoriteKidsBook"/>
          </div>
        </div>
        

        <div class="form-group" show-errors>
          <label class="control-label" for="favoriteReasonToWorkAtGym">Favorite Reason to Work At the Gym</label>
          <div class="controls">
            <input class="form-control" type="text" name="favoriteReasonToWorkAtGym" ng-model="user.favoriteReasonToWorkAtGym" id="favoriteReasonToWorkAtGym"/>
          </div>
        </div>


        <div class="form-group" show-errors>
          <label class="control-label" for="favoriteOther">Favorite Anything Else!</label>
          <div class="controls">
            <input class="form-control" type="text" name="favoriteOther" ng-model="user.favoriteOther" id="favoriteOther"/>
          </div>
        </div>

        <div class="form-group" show-errors>
          <label class="control-label" for="dateOfTermination">Date of Termination</label>
          <div class="controls">
            <input class="form-control" type="text" name="dateOfTermination" ng-model="user.dateOfTermination" id="dateOfTermination"/>
          </div>
        </div>

        <div class="form-group" show-errors>
          <label class="control-label" for="terminationNotes">Termination Notes</label>
          <div class="controls">
            <input class="form-control" type="text" name="terminationNotes" ng-model="user.terminationNotes" id="terminationNotes"/>
          </div>
        </div>

        <div class="form-group" show-errors>
          <label class="control-label" for="active">Status</label>
          <div class="controls">
            <input class="form-control" type="text" name="active" ng-model="user.active" id="active"/>
          </div>
        </div>

        <div class="form-group">
          <input type="submit" value="Update" class="btn btn-default">
        </div>
        <div ng-show="error" class="text-danger">
          <strong ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
