<section>
  <div class="page-header">
    <!-- <h1>{{vm.trainer._id ? 'Edit Announcement' : 'New Announcement'}}</h1> -->
  <!-- </div> -->
  <div class="col-md-12">
    <form name="vm.form.trainerForm" class="form-horizontal" ng-submit="vm.save(vm.form.trainerForm.$valid)">
      <fieldset>

        <div class="form-group">
          <label class="control-label" for="name">Title</label>
          <input name="name" type="text" ng-model="vm.trainer.name" id="name" class="form-control" placeholder="Announcement Title" required>
          <div ng-messages="vm.form.trainerForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Announcement name is required.</p>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label" for="announcement">Announcement</label>
          <input name="announcement" type="text" ng-model="vm.trainer.announcement" id="announcement" class="form-control" placeholder="Announcement Body" required>
          <div ng-messages="vm.form.trainerForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Announcement content is required.</p>
          </div>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-default">Create Announcement</button>
        </div>

      </fieldset>
    </form>
  </div>
</div>
</section>
