    <form name="vm.form.trainerForm" class="form-horizontal" ng-submit="vm.save(vm.form.trainerForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="name">Title</label>
          <input name="name" type="text" ng-model="vm.trainer.name" id="name" class="form-control" placeholder="Announcement Title" required>
          <div ng-messages="vm.form.trainerForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Announcement title is required.</p>
          </div>
        </div>

        <div class="form-group" show-errors>
          <label class="control-label" for="name">Announcement</label>
          <input name="reason" type="text" ng-model="vm.trainer.announcement" id="reason" class="form-control" placeholder="Announcement" required>
          <div ng-messages="vm.form.trainerForm.announcement.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Announcement body is required.</p>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">Create Announcement</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
