    <form name="vm.form.trainerForm" class="form-horizontal" ng-submit="vm.save(vm.form.trainerForm.$valid)" novalidate>
      <fieldset>

        <div class="form-group" show-errors>
          <label class="control-label" for="name">Title</label>
          <input name="name" type="text" ng-model="vm.trainer" id="name" class="form-control" placeholder="Announcement Title" required>
        </div>

        <div class="form-group" show-errors>
          <label class="control-label" for="announcement">Announcement</label>
          <input name="announcement" type="text" ng-model="vm.trainer" id="announcement" class="form-control" placeholder="Announcement Body" required>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-default" href="/homeadmin">Create Announcement</button>
        </div>

      </fieldset>
    </form>
  </div>
</section>
