<section >
  <div class="jumbotron text-center" ng-controller="TrainerController">
    
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <img alt="AllegianceAthletics" class="img-responsive text-center" src="modules/trainer/client/img/logo.png" />
      </div>
    </div>
    
    <br>
   
    <div class="row">
      <p class="lead">
        Welcome to Allegiance Athletics Staff Site!
      </p>
    </div>
    
   
    <div>
      <div class="row" style="background-color:white; width: auto ; height: 600px; border: 1px solid black; margin: 10px;">
        <h3 style="color:white; background-color:#672C8E; text-align: center; margin: 0px; padding: 12px;">Announcements</h3>
        
        <div class ="announcementList" id="cc-homepage-announcements" ng-repeat="announcements in vm.trainer"> 
          <h2> {{announcements.name}} </h2>
          <p>{{announcemnets.announcement}}</p>
          Posted on {{announcements.created}} by -{{announcements.user}}- 
        </div>
      </div>
    </div>

 <div class="row">
      <p>
        <a class="btn btn-primary btn-lg" href="api/auth/signout" target="_blank">Log Out</a>
      </p>
    </div>

  <br>Enjoy &amp; Keep Us Updated,
  <br>Allegiance Athletics 

  </div>
</section>
