<section ng-controller="TrainerController">
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <img alt="MEAN.JS" class="img-responsive text-center" src="modules/core/client/img/brand/logo.png" />
      </div>
    </div>
    <br>
    <div class="row">
      <p class="lead">
        Welcome to Allegiance Athletics Staff Site!
        (Change the logo img location something in a new folder)
      </p>
    </div>
    <div class="row">
      <p>
        <a class="btn btn-primary btn-lg" href="http://meanjs.org" target="_blank">Learn more</a>
      </p>
    </div>
  </div>
  <div>
    <h2>This site will show you all you need to know about your work place.</h2>
    <ul>
      <li>
       Contact the administrator if you are unable to log in.
      </li>
      <li>
        Check your schedule.
      </li>
      <li>
        Request days off.
      </li>
      <li>
        Be prepared for tomorrow, TODAY!
      </li>
    </ul>
  </div>
  <div class="row">
    <div class="col-md-3">
      <h2><strong>S</strong>taff Pages</h2>
      <p><a target="_blank" href="modules/core/client/views/403.client.view.html">Staff Page</a> is the place you might be looking for. You can find your scheduled classes here.</p>
    </div>
    <div class="col-md-3">
      <h2><strong>A</strong>dmin</h2>
      <p><a target="_blank" href="modules/core/client/views/400.client.view.html"> ADMIN </a> Are you an ---ADMIN---? Here's your portal.</p>
    </div>
    <div class="col-md-3">
      <h2><strong>W</strong>ork in Progress</h2>
      <p><a target="_blank" href="http://angularjs.org/">Here's another link</a> Needless to say, this isnt done yet.</p>
    </div>
    <div class="col-md-3">
      <h2><strong>S</strong>cheduling</h2>
      <p><a target="_blank" href="http://nodejs.org/">A wild link has appeared</a> Let's do some more stuff here</p>
    </div>
  </div>
  <div class="well">
    <h2>Other Information </h2>
    <p> 
    	Other Information
    	<ul>
        <li><a target="_blank" href="http://meanjs.org/docs.html">Change this link</a>
        </li>
        <!-- <li><a target="_blank" href="http://meanjs.org/generator.html">Yeoman Generator</a>
        </li> -->
        <li><a target="_blank" href="http://meanjs.org/modules.html">Modules</a>
        </li>
        <li><a target="_blank" href="http://meanjs.org/changelog.html">Changelog</a>
        </li>
        <li><a target="_blank" href="http://meanjs.org/community.html">Community</a>
        </li>
        <li><a target="_blank" href="http://blog.meanjs.org">Blog</a>
        </li>
      </ul>
    </p>
  </div>
  <br>Enjoy &amp; Keep Us Updated,
  <br>Allegiance Athletics
</section>
