<style media="screen">

@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body {
/*background: #7e4869;*/
/*background: #C7C8C8;*/
background-image: url("https://static.pexels.com/photos/1755/purple-abstract-blur-bokeh.jpg");
background-size: 2000px;
background-position: center;
}
.login-form {
position: relative;
z-index: 1;
background: #FFFFFF;
max-width: 500px;
margin: 0 auto 100px;
padding: 45px;
text-align: center;
box-shadow: 10px 10px 50px 10px rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
border-radius: 20px;
}

.form button {
font-family: "Roboto", sans-serif;
text-transform: uppercase;
outline: 0;
background: #FFAA64;
width: 100%;
border: 0;
padding: 15px;
color: #FFFFFF;
font-size: 14px;
-webkit-transition: all 0.3 ease;
transition: all 0.3 ease;
cursor: pointer;
}

h2 {
  text-align: center;
  color: white;
}

</style>

<div ng-controller="AuthenticationController">

  <div class="form">

    <div class="col-xs-offset-2 col-xs-8 col-md-offset-4 col-md-4">
      <h2>Sign in</h2>
      <form name="userForm" ng-submit="signin(userForm.$valid)" class="login-form" novalidate autocomplete="off">

        <fieldset>
          <div class="form-group" show-errors>
            <!-- <label for="username">Username</label> -->
            <input type="text" id="username" name="username" class="form-control" ng-model="credentials.username" placeholder="Username" lowercase required>
            <div ng-messages="userForm.username.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Username is required.</p>
            </div>
          </div>
          <div class="form-group" show-errors>
            <!-- <label for="password">Password</label> -->
            <input type="password" id="password" name="password" class="form-control" ng-model="credentials.password" placeholder="Password" required>
            <div ng-messages="userForm.password.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Password is required.</p>
            </div>
          </div>
          <div class="text-center form-group">
            <button type="submit" class="btn btn-warning" href ="home">Sign in</button>
            &nbsp; or&nbsp;
            <a ui-sref="authentication.signup">Sign up</a>
          </div>
          <div class="text-center forgot-password">
            <a ui-sref="password.forgot">Forgot your password?</a>
          </div>
          <alert type="danger" ng-show="error" class="text-center text-danger">
            <span ng-bind="error"></span>
          </alert>
        </fieldset>
      </form>
    </div>

  </div>
</div>
