body, html {
  width: 100%;
  height: 100%;
}

body, h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
}

.container {
  margin:0px auto 0px auto;
}

.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.header-profile-image {
  opacity: 0.8;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  margin-right: 5px;
}
.open .header-profile-image,
a:hover .header-profile-image {
  opacity: 1;
}
.user-header-dropdown-toggle {
  padding-top: 11px !important;
  padding-bottom: 11px !important;
}
.error-text {
  display: none;
}
.has-error .help-block.error-text {
  display: block;
}
.has-error .help-inline.error-text {
  display: inline;
}

.scroll {
  width: 1150px;
  height: 750px;
  overflow: auto;
}

.navbar-custom {
    background-color: transparent;
    color: transparent;
    border-radius:0;
    padding: 8px 16px 8px 16px;
}

.navbar-custom .navbar-nav > li > a {
    color:#000;
}

.navbar-custom .navbar-nav > .active > a {
    color: #ffffff;
    background-color:transparent;
}

.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus,
.navbar-custom .navbar-nav > .open >a {
    text-decoration: none;
}

.navbar-custom .navbar-brand {
    color:#000;
}

.navbar-custom .navbar-brand:hover {
    
}

.navbar-custom .navbar-toggle {
    background-color: #eeeeee;
}
.navbar-custom .icon-bar {
    background-color: #33aa33;
}

.intro-header {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: left;
  color: #f8f8f8;
}

.intro-msg {
  position: relative;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-left: 60%;
}

.intro-msg>h1 {
  margin: 0;
  text-shadow: 2px 2px 3px #777777;
  font-size: 3em;
}

.intro-message>h3 {
  text-shadow: 2px 2px 3px #777777;
}

.intro-divider {
  width: 400px;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid #FDFDFD;

}

.intro-btn {
  color: #FFFFFF;
  border: 1px #FFFFFF;
  margin-top: 20px;
  background-color: transparent;
  text-transform: uppercase;
  padding: 10px;
  border: 2px solid #FFF;
  letter-spacing: 2px;
  border-radius: 5px;
  text-decoration: none;
}

.intro-btn:link {
  text-decoration: none;
  color: #FFFFFF;
}

.intro-btn:visited {
  text-decoration: none;
  color: #FFFFFF;
}

.intro-btn:active {
  text-decoration: none;
  color: #FFFFFF;
}

.intro-btn:hover {
  color: #e9692f;
  background-color: #FFFFFF;
  text-decoration: none;
}

.content-section-a {
  padding: 50px 0;
  background-color: #f8f8f8;
}

.section-header>h1 {
  margin: 0;
  font-size: 3em;
  text-align: center;
}

.col-md-4 {
  font-weight: normal;
}

.col-md-4 .entry-date {
  margin-top: -5px;
  font-size: 0.8em;
  text-align: right;
  font-style: italic;
  padding-right: 25px;
}