.content {
  margin-top: 50px;
}
.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.header-profile-image {
  opacity: 0.8;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  margin-right: 5px;
}
.open .header-profile-image,
a:hover .header-profile-image {
  opacity: 1;
}
.user-header-dropdown-toggle {
  padding-top: 11px !important;
  padding-bottom: 11px !important;
}
.error-text {
  display: none;
}
.has-error .help-block.error-text {
  display: block;
}
.has-error .help-inline.error-text {
  display: inline;
}

.scroll {
  width: 1150px;
  height: 750px;
  overflow: auto;
}

.navbar-custom {
    background-color:#672C8E;
    color:#ffffff;
    border-radius:0;
}

.navbar-custom .navbar-nav > li > a {
    color:#fff;
}

.navbar-custom .navbar-nav > .active > a {
    color: #ffffff;
    background-color:transparent;
}

.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus,
.navbar-custom .navbar-nav > .open >a {
    text-decoration: none;
    background-color: #754296;
}

.navbar-custom .navbar-brand {
    color:#fff;
}

.navbar-custom .navbar-brand:hover {
    color: #F26524;
}

.navbar-custom .navbar-toggle {
    background-color: #F26524;
    
}
.navbar-custom .icon-bar {
    background-color: #33aa33;
<<<<<<< HEAD
}
=======
}
/*
.navbar-custom .navbar-btn {
    background-color: #F26524;
    padding: 6px 15px 6px 15px;
    border-radius: 5px;
    margin-left: 10px;
}

.navbar-custom .navbar-nav .navbar-btn > .active > a:hover,
.navbar-custom .navbar-nav .navbar-btn > .active > a:focus,
.navbar-custom .navbar-nav .navbar-btn > .open >a {
    text-decoration: none;
    background-color: #F26524;
}
*/
/*.navbar-custom {
  background-color: #672C8E;
  color: #FFFFFF;
}

.navbar-custom a {
  color: #FFFFFF;
}

.navbar-custom a:hover {
  color: #F26524;
  padding: 0px;
}

.navbar-custom .navbar-btn {
  padding: 5px 20px 5px 20px;
  background-color: #F26524;
  border-radius: 5px;
}
>>>>>>> 2c90fef8afc5583d6c8b3b9ded20abe353682260
