<section>
  <div class="page-header">
    <h1>{{vm.calendarview._id ? 'Edit Calendarlist' : 'New Class'}}</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.calendarviewForm" class="form-horizontal" ng-submit="vm.save(vm.form.calendarviewForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="name">Name</label>
          <input name="name" type="text" ng-model="vm.calendarview.name" id="name" class="form-control" placeholder="Name" required>
          <div ng-messages="vm.form.calendarviewForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Calendarlist name is required.</p>
          </div>
          <label class="control-label" for="trainer">Trainer</label>
          <select ng-model="User" ng-options="x for x in User">
          </select>
          <input name="trainer" type="" ng-model="vm.calendarview.trainer" id="trainer" class="form-control" placeholder="Trainer" required>
          <div ng-messages="vm.form.calendarviewForm.trainer.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Calendarlist trainer is required.</p>
          </div>
          <label class="control-label" for="start">Start</label>
          <input name="start" type="text" ng-model="vm.calendarview.start" id="start" class="form-control" placeholder="Start" required>
          <div ng-messages="vm.form.calendarviewForm.start.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Calendarlist start is required.</p>
          </div>
          <label class="control-label" for="end">End</label>
          <input name="end" type="text" ng-model="vm.calendarview.end" id="end" class="form-control" placeholder="End" required>
          <div ng-messages="vm.form.calendarviewForm.end.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Calendarlist end is required.</p>
          </div>
          <label class="control-label" for="details">Details</label>
          <input name="details" type="text" ng-model="vm.calendarview.details" id="details" class="form-control" placeholder="Details">

        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.calendarview._id ? 'Update' : 'Create'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
