<section>
  <script>
    var data = angular.element(document.getElementById('calendarviews')).scope().data;
    $(document).ready(function() {
      var test = vm.calendarviews.name;
      $('#calendar').fullCalendar({
        header: {
          left: 'prev,next today',
          center: 'title',
          right: 'month,agendaWeek,agendaDay'
        },
        defaultDate: Date.now(),
        navLinks: true, // can click day/week names to navigate views
        selectable: true,
        selectHelper: true,
        select: function(start, end) {
          var name = prompt('Event Title:');
          var start = prompt('Event start Time:');
          var end = prompt('Event End Time:');
          var eventData;
          if (name) {
            eventData = {
              name: name,
              start: start,
              end: end
            };
            $('#calendar').fullCalendar('renderEvent', eventData, true); // stick? = true
          }
          $('#calendar').fullCalendar('unselect');
        },
        editable: true,
        eventLimit: true, // allow "more" link when too many events
        events: [{
            name: 'All Day Event',
            start: '2017-10-01'
          },
          {
            name: 'Long Event',
            start: '2017-10-07',
            end: '2017-10-10'
          },
          {
            id: 999,
            name: 'Repeating Event',
            start: '2017-10-09T16:00:00'
          },
          {
            id: 999,
            name: 'Repeating Event',
            start: '2017-10-16T16:00:00'
          },
          {
            name: 'Conference',
            start: '2017-10-11',
            end: '2017-10-13'
          },
          {
            name: 'Meeting',
            start: '2017-10-12T10:30:00',
            end: '2017-10-12T12:30:00'
          },
          {
            name: 'Lunch',
            start: '2017-10-12T12:00:00'
          },
          {
            name: 'Meeting',
            start: '2017-10-12T14:30:00'
          },
          {
            name: 'Happy Hour',
            start: '2017-10-12T17:30:00'
          },
          {
            name: 'Dinner',
            start: '2017-10-12T20:00:00'
          },
          {
            name: 'Birthday Party',
            start: '2017-10-13T07:00:00'
          },
          {
            name: 'Click for Google',
            url: 'http://google.com/',
            start: '2017-10-28'
          }
        ]
      });

    });
  </script>
  <style>
    body {
      padding: 0;
      font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
      font-size: 14px;
    }

    #calendar {
      max-width: 900px;
      margin: 0 auto;
    }
  </style>
  <!--div class="alert alert-warning text-center" ng-if="vm.calendarviews.$resolved && !vm.calendarviews.length">
    No Events yet, do you want to <a ui-sref="calendarviews.create">create one</a>?
  </div>
  <!div class="list-group">
    <a ng-repeat="calendarview in vm.calendarviews"
       ui-sref="calendarviews.view({ calendarviewId: calendarview._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="calendarview.created | date:'mediumDate'"></span>
        by
        <span ng-if="calendarview.user" ng-bind="calendarview.user.displayName"></span>
        <span ng-if="!calendarview.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="calendarview.name"></h4>
    </a>
  </div-->


  <div>
  <div id='calendar'></div>
</div>
<div>
  <li ng-repeat="calendar in vm.calendarviews">
    <span>{{calendar.name}}</span>
    <span>{{calendar.start}}</span>
    <span>{{calendar.end}}</span>
  </li>
</div>
</section>
