<section>
  <script>

  $(document).ready(function() {
    $('#calendar').fullCalendar({
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'month,agendaWeek,agendaDay,listWeek'
      },
      defaultDate: '2017-10-12',
      navLinks: true, // can click day/week names to navigate views
      editable: true,
      eventLimit: true, // allow "more" link when too many events
      events: [
        {
          title: "dfdf",
          start: '2017-10-01',
        },
        {
          title: 'Long Event',
          start: '2017-10-07',
          end: '2017-10-10'
        },
        {
          id: 999,
          title: 'Repeating Event',
          start: '2017-10-09T16:00:00'
        },
        {
          id: 999,
          title: 'Repeating Event',
          start: '2017-10-16T16:00:00'
        },
        {
          title: 'Conference',
          start: '2017-10-11',
          end: '2017-10-13'
        },
        {
          title: 'Meeting',
          start: '2017-10-12T10:30:00',
          end: '2017-10-12T12:30:00'
        },
        {
          title: 'Lunch',
          start: '2017-10-12T12:00:00'
        },
        {
          title: 'Meeting',
          start: '2017-10-12T14:30:00'
        },
        {
          title: 'Happy Hour',
          start: '2017-10-12T17:30:00'
        },
        {
          title: 'Dinner',
          start: '2017-10-12T20:00:00'
        },
        {
          title: 'Birthday Party',
          start: '2017-10-13T07:00:00'
        },
        {
          title: 'Click for Google',
          url: 'http://google.com/',
          start: '2017-10-28'
        }
      ]
    });
    
  });

</script>
<style>

  body {
    margin: 40px 10px;
    padding: 0;
    font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
    font-size: 14px;
  }

  #calendar {
    max-width: 900px;
    margin: 0 auto;
  }

</style>
  <div class="alert alert-warning text-center" ng-if="vm.calendarviews.$resolved && !vm.calendarviews.length">
    No Events yet, do you want to <a ui-sref="calendarviews.create">create one</a>?
  </div>
  <div id='calendar'></div>

  <div class="list-group">
    <a ng-repeat="calendarview in vm.calendarviews"
       ui-sref="calendarviews.view({ calendarviewId: calendarview._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="calendarview.created | date:'mediumDate'"></span>
        by
        <span ng-if="calendarview.user" ng-bind="calendarview.user.displayName"></span>
        <span ng-if="!calendarview.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="calendarview.name"></h4>
    </a>
  </div>
</section>
